# Groq LLM API (required for AI features)
GROQ_API_KEY=your_groq_api_key_here

# MongoDB connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# FastAPI backend URL (used by Next.js API routes)
FASTAPI_URL=http://localhost:8000

# JWT Secret (for auth)
JWT_SECRET=c06bc932522d88ee51b1c299f1a9082a0d5799c109459fdac478c1c228bb1a9f

# Firebase (Google Login) — optional
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCL2mXqzmTVYMG64KD-BvQ1JqGB3ZuEyOo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=solar-inverter-ai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=solar-inverter-ai
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=solar-inverter-ai.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=420052291469
NEXT_PUBLIC_FIREBASE_APP_ID=1:420052291469:web:fbbcb4be41e78c7f07b7c4
